<div class="library-header">
    <h3 class="nomargin"><span class="nomargin nocolor">Material Library / Wash /</span>Add</h3>
</div>
<div class="library-content-container">
    <div class="col_half nobottommargin">
        <div class="thumbnail-placeholder">
            <img *ngIf="this.imageList" src="{{imageList.MainImage}}" alt="{{imageList.MainAlt}}">
        </div>
        <ul class="thumbnail-image" *ngIf="this.imageList">
            <li *ngFor="let image of this.imageList?.Images">
                <a href="javascript:void(0);" (click)="changeImage(image.UploadPath)">
                    <img src="{{image.UploadPath}}" alt="{{image.FileName}}"/>
                </a>
            </li>
        </ul>
        <input type="button" value="Add Image" class="button button-small button-red leftmargin-md notopmargin nobottommargin fright" (click)="doUpload()">
    </div>
    <div class="col_half col_last nobottommargin">
        <form class="form-user" [formGroup]="washForm">
            <table class="tableAddMaterial">
                <tbody>
                    <tr>
                        <td>Buyer Wash Code</td>
                        <td><input formControlName="buyercode" type="text" class="form-control" placeholder="Enter buyer code" value="this.data.BuyerCode" /></td>
                    </tr>
                    <tr>
                        <td>Wash Type</td>
                        <td *ngIf="types">
                            <select value="this.data.WashType" class="form-control" #washType formControlName="washtype" (change)="changeType(washType.value)">
                                <option value="">Chose a type</option>
                                <option *ngFor="let type of types" value="{{type.Id}}">{{type.Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Wash Category</td>
                        <td *ngIf="categories">
                            <select value="this.data.Washcategory" class="form-control" formControlName="washcategory" #washCategory (change)="changeCategory(washCategory.value)" [disabled]="this.disableCategory">
                                <option value="">Chose a category</option>
                                <option *ngFor="let cate of categories" value="{{cate.Id}}">{{cate.Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td *ngIf="productnames">
                            <select value="this.data.WashProductname" class="form-control" formControlName="washproductname" [disabled]="this.disableProductName">
                                <option value="">Chose a product name</option>
                                <option *ngFor="let pn of productnames" value="{{pn.Id}}">{{pn.Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input formControlName="description" type="text" class="form-control" placeholder="Enter description" value="this.data.Description" /></td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td *ngIf="brands">
                            <select value="this.data.Brand" class="form-control" formControlName="brand">
                                <option value="">Chose a brand</option>
                                <option *ngFor="let brand of brands" value="{{brand.Id}}">{{brand.Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td *ngIf="departments">
                            <select value="this.data.Department" class="form-control input-medium" formControlName="department">
                                <option value="">Chose a department</option>
                                <option *ngFor="let dept of departments" value="{{dept.Id}}">{{dept.Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Division</td>
                        <td *ngIf="divisions">
                            <select value="this.data.Division" class="form-control input-medium" formControlName="division">
                                <option value="">Chose a division</option>
                                <option *ngFor="let division of divisions" value="{{division.Id}}">{{division.Name}}</option>
                            </select>
                        </td>
                    </tr>
                   
                    <tr>
                        <td>Color</td>
                        <td *ngIf="colors">
                            <select value="this.data.Color" class="form-control input-medium" formControlName="color">
                                <option value="">Chose a color</option>
                                <option *ngFor="let color of colors" value="{{color.Id}}">{{color.Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Recipe
                        </td>
                        <td>
                            <input formControlName="recipe" type="text" class="form-control" placeholder="Enter recipe" value="this.data.Recipe" />
                        </td>
                    </tr>
                    <tr>
                        <td>Supplier</td>
                        <td><input formControlName="supplier" type="text" class="form-control" placeholder="Enter supplier" value="this.data.Supplier" /> </td>
                    </tr>
                    <tr>
                        <td>Supplier ref code</td>
                        <td><input formControlName="suppliercode" type="text" class="form-control" placeholder="Enter supplider code" value="this.data.SupplierCode" /> </td>
                    </tr>
                    <tr>
                        <td>Remark</td>
                        <td><textarea formControlName="remark" name="Remark" cols="" rows="" placeholder="Enter remark" class="form-control" value="this.data.Remark"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <input type="button" class="button button-small button-red leftmargin-md notopmargin nobottommargin fright" [disabled]="!washForm.valid" value="Save" (click)="onSubmit(this.washForm.value)" />
        <input type="file" id="files" name="files" style="opacity:0" (change)="fileChangeEvent($event)" multiple />
    </div>
    <div class="clear"></div>
</div>