<div class="container-fullwidth clearfix">
    <div class="col_one_fifth nomargin">
        <nav class="nav" role="navigation">
            <ul class="nav__list">
                <li>
                    <generallib-menu></generallib-menu>
                </li>
                <li>
                    <material-menu></material-menu>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col_four_fifth col_last">
        <router-outlet></router-outlet>
    </div>

    <!-- end of Library -->
</div>
