<input id="group-1" type="checkbox" hidden />
<label for="group-1">General Library</label>
<ul class="group-list">
    <li (click)="topFunction()"><a [routerLink]="['training']">Training</a></li>
    <li (click)="topFunction()"><a [routerLink]="['trainingitem']">Training Item</a></li>
    <li><a [routerLink]="['season']">Season</a></li>
    <li><a [routerLink]="['year']">Year</a></li>
    <li><a [routerLink]="['sizerange']">Size Range</a></li>
    <li><a [routerLink]="['pom']">Point Of Measurement</a></li>
    <li (click)="topFunction()"><a [routerLink]="['department']">Department</a></li>
    <li (click)="topFunction()"><a [routerLink]="['division']">Division</a></li>
    <li (click)="topFunction()"><a [routerLink]="['brand']">Brand</a></li>
    <li (click)="topFunction()"><a [routerLink]="['fabricstype']">Fabrics Type</a></li>
    <li (click)="topFunction()"><a [routerLink]="['fabricscategory']">Fabrics Category</a></li>
    <li (click)="topFunction()"><a [routerLink]="['fabricsproductname']">Fabrics Product Name</a></li>
    <li (click)="topFunction()"><a [routerLink]="['fabricsyarncount']">Fabrics Yarn Count</a></li>
    <li (click)="topFunction()"><a [routerLink]="['fabricsfibrecontent']">Fabrics Fibre Content</a></li>
    <li (click)="topFunction()"><a [routerLink]="['fabricsfinishing']">Fabrics Finishing</a></li>
    <li (click)="topFunction()"><a [routerLink]="['fabricproducttype']">Fabrics Product Type</a></li>
    <li (click)="topFunction()"><a [routerLink]="['fabricweight']">Fabrics Weight</a></li>
    <li (click)="topFunction()"><a [routerLink]="['accessorycategory']">Accessories Category</a></li>
    <li (click)="topFunction()"><a [routerLink]="['accessoryproductname']">Accessories Product Name</a></li>
    <li (click)="topFunction()"><a [routerLink]="['accessorytype']">Accessories Type</a></li>
    <li (click)="topFunction()"><a [routerLink]="['washtype']">Wash Type</a></li>
    <li (click)="topFunction()"><a [routerLink]="['washcategory']">Wash Category</a></li>
    <li (click)="topFunction()"><a [routerLink]="['washproductname']">Wash Product Name</a></li>
    <li (click)="topFunction()"><a [routerLink]="['graphictype']">PEW Type</a></li>
    <li (click)="topFunction()"><a [routerLink]="['graphiccategory']">PEW Category</a></li>
    <li (click)="topFunction()"><a [routerLink]="['graphicproductname']">PEW Product Name</a></li>
    <li (click)="topFunction()"><a [routerLink]="['endbuyer']">End Buyer</a></li>
    <li (click)="topFunction()"><a [routerLink]="['shippingtype']">Shipping Type</a></li>
    <li (click)="topFunction()"><a [routerLink]="['reasonforabortingproject']">Reason for Aborting Project</a></li>
    
</ul>