<div class="library-header">
    <h3 class="nomargin">Fabrics</h3>
    <form #searchForm="ngForm" (ngSubmit)="onsearchSubmit(searchForm.value)">
        <div class="section-filter">
            <div class="row bottommargin-sm">
                <div class="col-md-2 noleftpadding">
                    <label>Fabric Code</label>
                </div>
                <div class="col-md-4 noleftpadding" *ngIf="ACdata">
                    <select name="code" class="form-control" ngModel>
                        <option value="">Select one</option>
                        <option *ngFor="let color of Dropdowndata?.Data" value="{{color.Code}}">{{color.Code}}</option>
                    </select>

                </div>
                <div class="col-md-2 noleftpadding">
                    <label>Vendor Fabric Code</label>
                </div>
                <div class="col-md-4 noleftpadding">
                    <select class="form-control" name="buyercode" ngModel>
                        <option value="">Select one</option>
                        <option *ngFor="let color of Dropdowndata?.Data" value="{{color.BuyerCode}}">{{color.BuyerCode}}</option>
                    </select>
                </div>
            </div>

            <div class="row bottommargin-sm">
                <div class="col-md-2 noleftpadding">&nbsp;</div>
                <div class="col-md-8 nopadding">
                    <input type="text" name="keyword" class="form-control" ngModel />
                </div>
                <div class="col-md-2 noleftpadding">
                    <input class="button button-small nomargin" value="Search" name="Search" type="submit">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="library-content-container">
  
    <div class="col_full notopmargin nobottommargin tright">
        <ul class="pagination-filter" *ngFor="let size of this.pagesizearr">
            <li *ngIf="this.ACdata?.Paging?.PageSize==size && size!=0" class="active">
                <a href="javascript:void(0);" (click)="changeSize(size)">{{size}}</a>
            </li>
            <li *ngIf="this.ACdata?.Paging?.PageSize!=size && size!=0">
                <a href="javascript:void(0);" (click)="changeSize(size)">{{size}}</a>
            </li>
            <li *ngIf="size==0 && this.ACdata?.Paging?.PageNumber!=0 ">
                <a href="javascript:void(0);" (click)="changeSize(0)">All</a>
            </li>
            <li *ngIf="size==0 && this.ACdata?.Paging?.PageNumber==0 " class="active">
                <a href="javascript:void(0);" (click)="changeSize(0)">All</a>
            </li>
        </ul>
    </div>
    <div class="col_full notopmargin nobottommargin col_last tright">
        <input type="button" value="Add New" class="button button-small button-red leftmargin-md notopmargin nobottommargin magin-fix" (click)="onAdd()">
    </div>
    <div class="clear"></div>

    <div class="col_full library-content">
        <table class="libraryTable manyCols">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sorting">Fabric<br>Code</th>
                    <th class="sorting">Buyer<br>Fabric Code</th>
                    <th class="sorting">Fabric<br>Type</th>
                    <th class="sorting">Fabric<br>Category</th>
                    <th class="sorting">Product<br>Name</th>
                   
                    <th class="sorting">Yarn<br>Count</th>
                    <th class="sorting">Fibre<br>Content</th>
                    <th class="sorting">Product<br>Type</th>
                    <th class="sorting">Finishing</th>
                    <th class="sorting">Fabric<br>Weight</th>
                    <th class="sorting">Color</th>

                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fabric of ACdata?.Data">
                    <td><div class="thumbnail-placeholder"><img src="{{fabric.Thumbnail}}"></div></td>
                    <td>{{fabric.Code}}</td>
                    <td>{{fabric.BuyerCode}}</td>
                    <td>{{fabric.FabType}}</td>
                    <td>{{fabric.FabCategory}}</td>
                    <td>{{fabric.FabProductName}}</td>
             
                    <td>{{fabric.FabYarnCount}}</td>
                    <td>{{fabric.FabFibreContent}}</td>
                    <td>{{fabric.FabProductType}}</td>
                    <td>{{fabric.FabFinishing}}</td>
                    <td>{{fabric.FabricWeight}}</td>
                    <td>{{fabric.Color}}</td>

                    <td><a href="javascript:void(0);" (click)="onEdit(fabric.Id)"><img src="images/icons/icon-edit.png"></a></td>
                </tr>
               
            </tbody>
        </table>
    </div>
    <div class="clear"></div>

    <div class="col_five_sixth notopmargin nobottommargin center">
        <ul class="pagination-filter" *ngFor="let page of ACdata?.Paging.PageCount; let i=index;">
            <li *ngIf="i==0 && page!=ACdata?.Paging.PageNumber && ACdata?.Paging.PageCount.length>0">
                <a href="javascript:void(0);" *ngIf="page!=0" (click)="changePage(page)">&laquo;</a>
                <a href="javascript:void(0);" *ngIf="page==0">&laquo;</a>
            </li>

            <li *ngIf="ACdata?.Paging.PageCount[i]==ACdata?.Paging.PageNumber && i!=0 && i!=this.ACdata?.Paging?.PageCount.length -1 && ACdata?.Paging.PageCount.length>0" class="active" (click)="changePage(page)"><a href="javascript:void(0);">{{page}}</a></li>
            <li *ngIf="ACdata?.Paging.PageCount[i]!=ACdata?.Paging.PageNumber && i!=0 && i!=this.ACdata?.Paging?.PageCount.length -1 && ACdata?.Paging.PageCount.length>0" (click)="changePage(page)"><a href="javascript:void(0);">{{page}}</a></li>
            <li *ngIf="i==this.ACdata?.Paging?.PageCount.length -1 && ACdata?.Paging.PageCount.length>0">
                <a *ngIf="page!=0" (click)="changePage(page)">&raquo;</a>
                <a *ngIf="page==0">&raquo;</a>
            </li>

        </ul>
        <div class="pagination-numbers">{{this.ACdata?.Paging?.Show}} of {{this.ACdata?.Paging?.Total}}</div>
    </div>
    <div class="col_one_sixth notopmargin nobottommargin col_last tright">
        <input type="button" value="Add New" class="button button-small button-red leftmargin-md notopmargin nobottommargin">
    </div>
</div>